.like{
    padding: 10px;
    position: relative;
    width: 10px;
}

.like .img{
    position: absolute;
    top:50px;
    right:5px
}

table{
    overflow: auto;
    width: 100vw;
}

.conf{
    padding:50px;
    background-color: rgb(238, 238, 238);
    box-shadow:  0 0 60px #000;
    position: fixed;
    top:10%;
    width:320px;
    left: 50%;
    margin-left: -160px;
    word-break: break-all;
    display: none;
    align-items: center;
}

body::-webkit-scrollbar{
    display: none;
}

body{
    margin-bottom: 0;
}

